.App{
    height: 100vh;
    display: flex;
    background-color: #cfd8dc;
}

.left-side{
    width: 50%; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: #455a64;
}

.header{
    display: flex; 
    align-items: center;
    height:30px; 
    width: 240px; 
    margin-bottom: 15px; 
    font-size: 40px; 
    color: #ffffff;
    background-color: hotpink;
}

.logo{
    object-fit: scale-down; 
}

.input-form{
    /* width: 50%; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-area{
        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    align-items: center;
}

input{
    width: 240px;
    height: 25px;
}

.input-button{
    background-color: #FFC107; 
    color: #FFFFFF; 
    width: 246px;
    height: 31px;
}

.card-section{
    width: 50%;
    padding: 15px 15px 0 15px;
    background-color: #cfd8dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.card-wrapper{
    width: 100%; 
    /* background-color: #FFC107; */
    background-color: #FFFFFF;
    padding: 8px; 
    border: 1px solid #607d8b;
    margin: 15px;
}

.card-name{
    color:#455A64;
    font-size: 28px; 
    border-bottom: 1px solid #CFD8DC
}

.card-url{
    color: #607D8B;
    font-size: 25px; 
}

.button-area{
    padding: 2px; 
    margin-top: 5px; 
    border-top: 1px solid #CFD8DC
}

.delete-button{
    float: right; 
}